*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: grid;
  justify-content: center;
  align-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
.content {
  width: 1140px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  gap: 30px;
}
.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search-form {
  width: 711px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}
.content__list-container {
  height: 298px;
  overflow-y: scroll;
  position: relative;
}
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content__details {
  width: 399px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
.search-form__textfield {
  font-size: 18px;
  padding-top: 5px;
  background-color: transparent;
}
.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}
.title {
  line-height: 94%;
  width: 260px;
  font-family: 'Oswald',sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 75px;
}
.content__accent {
  color: rgba(255, 255, 255, 0.2);
}
.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}
.content__video-card-title {
  font-family: 'Oswald',sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 196px;
}
.content__video-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 16.2px;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.search-form__checkbox-list {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.search-form__fieldset {
  border: none;
  
}
.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: fit-content;
}
.search-form__textfield {
  font-family: 'Fira Sans Condensed',sans-serif;
  color: #fff;
  background-color: transparent;
  appearance: none;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 225px;
}
.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}
.search-form__textfield:focus {
  outline: none;
}
.search-form__label:has(:focus-visible){
  outline: 1px solid #fff;
  outline-offset: 2px;
}
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}
.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}
.search-form__checkbox-list:focus {
  outline: 1px solid #fff;
}
.button {
  font-family: 'Fira Sans Condensed',sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  font-size: 18px;
  height: 34px;
  cursor: pointer;
}
.search-form__submit-button {
  width: 194px;
  margin-top: 20px;
}
.more-button {
  width: 100%;
  margin-top: 30px;
}
.button:hover {
  text-decoration: underline;
}
.button:active {
  background-color: rgba(84, 80, 80, 1);
}
.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 1px solid #fff;
}
.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}
.content__card-link:active {
  color: rgba(84, 80, 80, 1);
}
.content__card-link:hover {
  text-decoration: underline;
}
.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #fff;
}
.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}
.search-form__label-text {
  cursor: pointer;
}